.DS_Store
.idea/

/.ddev/
/.dep/
/node_modules/
/vendor/
/var/

/config/system/settings.php
/config/system/additional.php

/public/_assets/
/public/fileadmin/
/public/typo3temp/
/public/uploads/

/db-dumps/
/*.sql
/*.sql.gz
/*.tar
/*.tar.gz
/*.zip

/Build/servers.yml
